[{episcina, [
    {pools,
        [
            {primary,
                [
                    {size, 10},
                    {timeout, 10000},
                    {connect_provider,
                        {sch_connection, open,
                            [[
                                {host, "localhost"},
                                {database, "clock"},
                                {port, 5432},
                                {user, "TEMPLATE_USER"}
                            ]]
                        }
                    },
                    {close_provider,
                        {sch_connection, close,
                            []
                        }
                    }
                ]
            }
        ]
    }
]}].
